In [1]:
import pandas as pd

df = pd.read_csv("data/sampah.csv")

df_baru = df[[
    "nama_kabupaten_kota",
    "jumlah_sampah",
    "tahun"
]]

df_baru.head()

  nama_kabupaten_kota  jumlah_sampah  tahun
0     KABUPATEN BOGOR      861919.33   2015
1  KABUPATEN SUKABUMI      205690.23   2015
2   KABUPATEN CIANJUR      355554.29   2015
3   KABUPATEN BANDUNG     1156523.00   2015
4     KABUPATEN GARUT      237389.82   2015

In [2]:
#no 2

tahunn = 2023
total_sampah = 0

for index, row in df_baru.iterrows():
    if row["tahun"] == tahunn:
        total_sampah += row["jumlah_sampah"]

print(f"Total produksi sampah tahun {tahunn} adalah {total_sampah} ton")


df_total_tahun = pd.DataFrame({
    "tahun": [tahunn],
    "total_produksi_sampah": [total_sampah]
})

df_total_tahun.to_csv("hasil/total_sampah_tahun_tertentu.csv", index=False)

df_total_tahun

Total produksi sampah tahun 2023 adalah 4747.298 ton

   tahun  total_produksi_sampah
0   2023               4747.298

In [3]:

total_per_tahun = {}

for index, row in df_baru.iterrows():
    tahun = row["tahun"]
    jumlah = row["jumlah_sampah"]

    if tahun not in total_per_tahun:
        total_per_tahun[tahun] = jumlah
    else:
        total_per_tahun[tahun] += jumlah

df_total_per_tahun = pd.DataFrame(
    list(total_per_tahun.items()),
    columns=["tahun", "total_produksi_sampah"]
)

df_total_per_tahun

df_total_per_tahun.to_csv(
    "hasil/total_sampah_per_tahun.csv",
    index=False
)
df_total_per_tahun.to_excel(
    "hasil/total_sampah_per_tahun.xlsx",
    index=False
)
df_total_per_tahun

   tahun  total_produksi_sampah
0   2015           1.377903e+07
1   2016           1.389333e+07
2   2017           1.407267e+07
3   2018           1.550585e+04
4   2019           1.690083e+04
5   2020           1.765414e+04
6   2021           1.118931e+04
7   2022           1.064269e+04
8   2023           4.747298e+03

In [4]:

total_per_kota_per_tahun = {}

for index, row in df_baru.iterrows():
    tahun = row["tahun"]
    kabupaten = row["nama_kabupaten_kota"]
    jumlah = row["jumlah_sampah"]

    if tahun not in total_per_kota_per_tahun:
        total_per_kota_per_tahun[tahun] = {}
    
    if kabupaten not in total_per_kota_per_tahun[tahun]:
        total_per_kota_per_tahun[tahun][kabupaten] = jumlah
    else:
        total_per_kota_per_tahun[tahun][kabupaten] += jumlah

data_list = []
for tahun, kab_dict in total_per_kota_per_tahun.items():
    for kabupaten, total in kab_dict.items():
        data_list.append({
            "tahun": tahun,
            "nama_kabupaten_kota": kabupaten,
            "total_produksi_sampah": total
        })

df_total_per_kota_per_tahun = pd.DataFrame(data_list)

df_total_per_kota_per_tahun.head()


df_total_per_kota_per_tahun.to_csv("hasil/total_sampah_per_kota_per_tahun.csv", index=False)
df_total_per_kota_per_tahun.to_excel("hasil/total_sampah_per_kota_per_tahun.xlsx", index=False)